#app{
    background-image: url("img/water.webp");
    background-size: contain;
    position: relative;
    /* background-repeat: no-repeat; */
}

.person{
    height: 300px;
    position: absolute;
    right: 15%;
    bottom: 45%
}

.boat {
    height: 300px;
}

.flip {
    transform: rotateY(180deg)
}

.greetings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.greetings img {
    height: 150px;
}